<!DOCTYPE html> 
<html> 
 <head> 
  <title><%= title %></title> 
 </head> 
 <body> 
  <h1><%= title %></h1> 
  <p>user <%= user %></p> 
  <p><a href="/login">Login</a></p>
  <p><a href="/login">Logout</a></p>
 </body> 
</html>